{% load humanize %}

<div class="box">

    <table class="main-table">

        <tr class="row">
            <td class="cell side-left">
                {% if item.sender_profile_photo_s3_url %}
                    <img src="{{ item.sender_profile_photo_s3_url }}" class="profile_image">
                {% endif %}
            </td>
            <td class="cell dashed-border-bottom">
                <p><b>{{ item.sender_name }}</b></p>
                <p class="font-14">{{ item.created_at }}</p>
                <p class="font-14">
                    {% if item.side == 'debit' %}
                        Transferred payment to {{ item.receiver_name }}
                    {% else %}
                        {{ item.sender_name }} paid you
                    {% endif %}
                </p>
                <p><br></p>
            </td>
            <td class="cell side-right dashed-border-bottom">
                <p class="font-18">
                    <b>
                        {% if item.side == 'debit' %}
                            -
                        {% else %}
                            +
                        {% endif %}
                        ${{ item.amount_value|floatformat:2|intcomma }}
                    </b>
                </p>
            </td>
            <td class="cell side-right-padding">
            </td>
        </tr>

        <tr class="row">
            <td class="cell side-left">
            </td>
            <td class="cell">
                <p><b>Transaction ID</b></p>
                <p>{{ item.transfer_id }}</p>
            </td>
            <td class="cell side-right">

            </td>
            <td class="cell side-right-padding">
            </td>
        </tr>

        <tr class="row">
            <td class="cell side-left">
            </td>
            <td class="cell">
                <p><b>Contact information</b></p>
                <p>
                    {% if item.sender_name %}{{ item.sender_name }}{% endif %}<br>
                    {% if item.sender_email %}{{ item.sender_email }}{% endif %}
                </p>
            </td>
            <td class="cell side-right">
            </td>
            <td class="cell side-right-padding">
            </td>
        </tr>

        <tr class="row">
            <td class="cell side-left">
            </td>
            <td class="cell">
                <p><b>Request sent to</b></p>
                <p>{% if item.receiver_name %}{{ item.receiver_name }}{% endif %}</p>
                <p>{% if item.receiver_name %}{{ item.receiver_email }}{% endif %}</p>
            </td>
            <td class="cell side-right">
            </td>
            <td class="cell side-right-padding">
            </td>
        </tr>

        {% if item.note %}

            <tr class="row">
                <td class="cell side-left">
                </td>
                <td class="cell">
                    <p><b>Note</b></p>
                    <p>{{ item.note }}</p>
                </td>
                <td class="cell side-right">
                </td>
                <td class="cell side-right-padding">
                </td>
            </tr>

        {% endif %}

    </table>

</div>