container_commands:
    01_echo_env:
        command: env
    02_create_log_dir:
        command: |
          mkdir -p /var/log/benji
          sudo chmod -R g+s /var/log/benji
          sudo setfacl -d -m g::rw /var/log/benji/
          sudo chown webapp:webapp /var/log/benji/
    03_apply_custom_cloudwatch_configuration:
        command: |
          mv /tmp/amazon-cloudwatch-agent.json /opt/aws/amazon-cloudwatch-agent/etc/amazon-cloudwatch-agent.json
          systemctl restart amazon-cloudwatch-agent
    04_apply_django_migrations:
        leader_only: true
        command: |
          source ${PYTHONPATH}/activate
          python manage.py migrate
          python manage.py loaddata apps/sila_adapter/fixtures/bank_account_mapping_texture.json

files:
  '/tmp/amazon-cloudwatch-agent.json':
    mode: '000600'
    owner: root
    group: root
    content: |
      {"logs": {
            "logs_collected": {
                "files": {
                    "collect_list" : [
                        {
                            "file_path": "/var/log/benji/debug.log**",
                            "log_group_name": "buddi-backend-prod",
                            "log_stream_name": "{instance_id}"
                        }
                    ]
                }
            }
        }}
